$fontStack:Helvetica, sans-serif;
$primary-color:rgba(131,205,112,1);
$body-bg:#f1f1f1;
$border-color:#e5e2e2;
$text-color:#333;
$sub-text-color:#999;
$font-family-base:"Verdana" "微软雅黑";
$font-size-base:10px;
$placeholder-color:#333;//#5F5F5F;//#cfcfcf
$button-save-color:rgba(255,96,83,1);
$task-bg:#f0f0f0;
$font-size-14:14px;
$font-size-18:18px;

$hot-bar-color:#f6f6f6;






//字体大小设置


//home导航字体
$home-nav-size:1.4*$font-size-base;
//home今日推荐／专辑推荐
$home-recommend-title:1.6*$font-size-base;
$home-recommend-subTitle:1.2*$font-size-base;
$home-recommend-time:1.3*$font-size-base;
$home-recommend-count:1.3*$font-size-base;
$home-recommend-tag:1.2*$font-size-base;
$home-searchbar-input:1.8*$font-size-base;

/*------------------------------------搜索模块---------------------------------------*/
//search搜索模块／tag页面
$home-search-input:1.2*$font-size-base;
$home-search-tag:1.2*$font-size-base;
$home-search-record:1.6*$font-size-base;
$hot-search-name:1.4*$font-size-base;


//search搜索模块／上拉浮层
$home-add-text:1.2*$font-size-base;
$float-more-cancel:1.4*$font-size-base;

//catalogue模块／tag页面
$catalogue-nav-inner:1.8*$font-size-base;

//没找到是哪个模块
$group-theme-head:1.4*$font-size-base;
$home-group-context:1.2*$font-size-base;
/*------------------------------------Nav模块---------------------------------------*/
//公共nav模块   字体控制
$albumNav:$font-size-base*1.8;
$albumNav-right-a:$font-size-base*1;
$editNewAlbumsName-right:$font-size-base*1.3;

/*------------------------------------播放模块---------------------------------------*/
//播放页面
$player-main:$font-size-base*1.4;
/*------------------------------------用户模块---------------------------------------*/
//user 页面
$user-email-icon:$font-size-base*1;
$imgsbox:$font-size-base*1.4;
$list:$font-size-base*1.4;

//我的编辑  editor 页面

$editor-content:$font-size-base*1.2;
/*------------------------------------登录模块---------------------------------------*/
//登录页面
$login-banner-baby:$font-size-base*1.65;
$login-submit-bornData:$font-size-base*1.5;
/*------------------------------------专辑模块---------------------------------------*/
//
$album-heand-text:$font-size-base*1.4;
$album-float-topcon:$font-size-base*1.2;

//新建专辑模块
$newAlbums-listRight-text:$font-size-base*1.2;
$newAlbums-listRight-icon:$font-size-base*0.8;
$newAlbums-action-allCount:$font-size-base*0.7;
$newAlbums-action-allTime:$font-size-base*1.4;


//专辑单页
$album-action:$font-size-base*1.4;










